<div class="container">

  <h1 class="mt-2">Objets réservés</h1>

  <div class="d-flex flex-row ">

  <% @items.each do |item| %>
  <div class="d-flex flex-column ms-2 me-2 pe-3 grid col-4 align-items-between ">
        <div class="card bg-dark border border-white">
          <img src="..." class="card-img-top" alt="...">
        </div>
          <div class="card-body">
            <p>
              <%= @booking.start_date %>
            </p>

            <p>
              <%= @booking.end_date %>
            </p>

            <p>
              <%= @booking.status %>
            </p>
          </div>
        </div>
  <% end %>
  </div>

</div>
