<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://plus.unsplash.com/premium_photo-1683309558738-aa188bd24140?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1>Le Grenier de Léon</h1>
    <p>Partage tes objets avec tes voisins !</p>
    <%= link_to "Ajouter un objet", new_item_path, class:"btn-black" %>
    <%= link_to "Chercher un objet", items_path, class:"btn-black" %>
  </div>
</div>

<br><br>
<%= render "items/index" %>
