<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.openart.ai/uploads/image_1I9AsXnV_1718724931386_raw.jpg)">
  <div class="container">
    <h1>Le Grenier de Léon</h1>
    <p>Partage tes objets avec tes voisins !</p>
    <%= link_to "Ajouter un objet", new_item_path, class:"btn btn-black" %>
    <%= link_to "Chercher un objet", items_path, class:"btn btn-black" %>
  </div>
</div>

<br><br>
<%= render "items/index" %>
