.btn-green {
  color: #27bd22;
  border: 1px solid #27bd22;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 5px;
}

.btn-green:hover {
  color: white;
  background-color: #27bd22;
  opacity: 1;
}

.btn-red {
  color: #e64b4b;
  border: 1px solid #e64b4b;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 5px;
}

.btn-red:hover {
  color: white;
  background-color: #e64b4b;
  opacity: 1;
}
