// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "cards";
@import "button";
@import "images";
@import "button";
@import "banner";

a {
  text-decoration: none;
  color: #219ebc;
}

a:hover {
  color: #f18940
}

h1 {
  color: #219ebc;
  font-size: 24px;
  font-weight: bold;
}

h2 {
  color: #f18940;
  font-size: 16px;
  font-weight: bold;
}

h4 {
  font-style: italic;
  color: #7f7f7f;
  font-size: 12px;
}
